body:has(.exam-details) {
  overflow: hidden;

  .exam-details {
    padding: 24px 24px 52px 24px;
    position: relative;
    min-height: 100dvh;
    max-height: 100dvh;
    overflow: auto;

    .exam-questions {
      flex: 1 1 500px; // grow and shrink, min width ~500px
      min-width: min(500px, 100%);
    }

    .exam-status {
      min-width: min(300px, 100%);
      flex: 0 1 350px; // don’t grow, can shrink, base 300px
      position: sticky;
      top: 0;
      margin: 0 auto;
      overflow: visible;

      @media screen and (max-width: 930px) {
        min-width: 100%;
      }
    }
  }
}
