@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Inter:wght@400;500;600;700&family=Roboto:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.cdnfonts.com/css/tiktok-sans');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family:
    'Inter',
    'TikTok Sans',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;
  color: #0f172a;
  background-color: #ffffff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  &:has(.animated-landing-page) {
    [data-testid='SnowfallCanvas'] {
      visibility: hidden;
    }
  }
}

.leaflet-control-attribution {
  display: none;
}

.dashboard__navbar {
  .navbar__list {
    max-height: max(calc(100dvh - 260px), 150px);
    overflow-y: auto;
    scrollbar-width: thin;
    position: relative;

    @media screen and (max-height: 450px) {
      max-height: none;
    }
  }

  .navbar__bottom {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      top: -15px;
      height: 1px;
      background-color: #d9d9d9;
    }
  }
}

@font-face {
  font-family: 'sans-pro';
  src: url('./assets/font/SourceSansPro-Regular.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: 'sans-pro';
  scrollbar-width: thin;
}

input[type='password'] {
  font-family: Verdana;
}

#root {
  background-color: #efefef;
  overflow-x: hidden;
}

.ant-tag {
  white-space: initial;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.flex-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.direction-column {
  flex-direction: column;
}

.gap4 {
  gap: 4px;
}
.gap8 {
  gap: 8px;
}
.gap12 {
  gap: 12px;
}
.gap16 {
  gap: 16px;
}
.gap24 {
  gap: 24px;
}
.gap32 {
  gap: 32px;
}

.customBox {
  box-shadow: 0px 2px 4px 0px #00000005;
  box-shadow: 0px 1px 6px -1px #00000005;
  box-shadow: 0px 1px 2px 0px #00000008;

  padding: 32px;
  background-color: #ffffff;
  border-radius: 16px;
}
.customBox__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  color: #000000e0;

  margin-bottom: 32px;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
*::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #dfe9eb;
}

*::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #a2b2bd;
}

.dark-theme {
  *::-webkit-scrollbar {
    height: 6px;
    width: 6px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: #0e0e0e;
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #05335284;
  }

  .navbar__bottom {
    &::before {
      background-color: #424242;
    }
  }
}

.ant-drawer {
  max-width: 100dvw;
  max-height: 100dvh;
  overflow-x: hidden;

  .dark-theme {
    .anticon-right {
      path {
        fill: #fff;
      }
    }
    .anticon-close {
      path {
        fill: #fff;
      }
    }
  }
}

.voice-container {
  position: fixed;
  background-color: #ffffff62;
  backdrop-filter: blur(3px);
  border-radius: 20px;
  border: 1px solid #ebebeb62;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  top: 10px;
  left: 50%;
  transform: translateX(-86px);
  z-index: 99;
  transition: 0.4s ease;
}

.dark-modal {
  .voice-container {
    background-color: #00000027;
    border: 1px solid #0e0e0e46;
  }
}

#voice-animation {
  display: flex;
  justify-content: center;
  align-items: center;

  .voice-bars {
    min-height: 35px;
  }

  .bar {
    background: #14b8a6;
    bottom: 1px;
    height: 3px;
    width: 5px;
    margin: 0px 4px;
    border-radius: 10px;
    animation: sound 0ms -600ms linear infinite alternate;
  }

  @keyframes sound {
    0% {
      opacity: 0.35;
      height: 3px;
    }
    100% {
      opacity: 1;
      height: 20px;
    }
  }

  .bar:nth-child(1) {
    left: 1px;
    animation-duration: 474ms;
  }
  .bar:nth-child(2) {
    left: 15px;
    animation-duration: 433ms;
  }
  .bar:nth-child(3) {
    left: 29px;
    animation-duration: 407ms;
  }
  .bar:nth-child(4) {
    left: 43px;
    animation-duration: 458ms;
  }
  .bar:nth-child(5) {
    left: 57px;
    animation-duration: 400ms;
  }
  .bar:nth-child(6) {
    left: 71px;
    animation-duration: 427ms;
  }
  .bar:nth-child(7) {
    left: 85px;
    animation-duration: 441ms;
  }
  .bar:nth-child(8) {
    left: 99px;
    animation-duration: 419ms;
  }
  .bar:nth-child(9) {
    left: 113px;
    animation-duration: 487ms;
  }
  .bar:nth-child(10) {
    left: 127px;
    animation-duration: 442ms;
  }
}

.ant-tabs-card {
  width: 100%;

  .ant-tabs-tab {
    border: none !important;
  }

  .ant-tabs-nav {
    margin: 0 !important;
  }

  .ant-tabs-content {
    background-color: #fff !important;
    padding: 12px 24px;
    border-radius: 0 0 8px 8px;
  }
}

.dark-theme {
  .ant-tabs-card {
    .ant-tabs-content {
      background-color: #1b1b1b !important;
    }
  }
}

.grecaptcha-badge {
  visibility: hidden;
}

.map-marker {
  position: relative;
  transition: 0.4s ease;

  &::after {
    content: '';
    position: absolute;
    bottom: -9px; /* distance below circle */
    left: 50%; /* center horizontally */
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #ffffff;
  }
}

.time-table {
  .time-column {
    .table-cell {
      border: 1px solid #f0f0f0;
    }
  }
}
